@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu';
  width: 100vw;
  height: 100vh;
}


.main-content {
  background-color:white;
  height: 70vh;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.stats {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  padding-left: 4rem;

}

.stats-title {
  color: rgb(0, 0, 0, .9)
}

.tasks-done {
  font-size: 10rem;
  color:rgb(0, 0, 0, .3);
}

.taskstext {
  color: rgb(0, 0, 0, .3);
  font-size: 2rem;
}

.list-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:white ;
}

.list-header {
  height: 40%;
  font-size: 1.2rem;
  align-items: flex-end;
  display:flex;
}

.to-do-list {
  width: 100%;
  height:60%;
  font-size: .8rem;
  align-content: flex-start;
  display: flex;
  padding-top: 4rem;
  overflow:scroll;

}
 
.bottom-panel {
  /* background-color: rgb(43, 68, 255, .08); */
  height: 30vh;
  width: 100vw;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  font-family: 'Ubuntu' , sans-serif;
  animation-name: panelanim;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes panelanim {
  0%   {background-color: rgb(176, 185, 255);}
  25%  {background-color: rgb(177, 214, 177);}
  50%  {background-color: rgb(240, 208, 122);}
  100% {background-color: rgb(152, 135, 158);}
}
.bottom-text {
  color: rgb(0, 0, 0, .6);
  font-size: 2rem;
  padding: 2.5rem 0rem 0rem 4rem;
}

.time {
  font-size: 2.3rem;
  padding: .5rem;
  color: rgb(0, 0, 0, .3);
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: scroll;
}