@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu' , sans-serif;
}


.main-content {
  background-color: rgba(228, 199, 199, 0.781);
  height: 70vh;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.stats {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(206, 233, 233, 0.74);
  padding-left: 2rem;

}

.list-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  justify-content: center;
  background-color:rgba(233, 194, 233, 0.753);
}

.list-header {
  font-size: 1rem;
}

.to-do-list {
  width: 100%;
  font-size: .6rem;

}

.bottom-panel {
  background-color: rgb(43, 68, 255, .15);
  height: 30vh;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Ubuntu' , sans-serif;
}

.weather {
  color: rgb(80, 80, 80);
  font-size: 2rem;
  padding-left: 2rem;
}