@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu' , sans-serif;
  width: 100vw;
  height: 100vh;
}


.main-content {
  background-color:white;
  height: 70vh;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.stats {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;

}

.list-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:white ;
}

.list-header {
  height: 40%;
  font-size: 1rem;
  align-items: flex-end;
  display:flex;
}

.to-do-list {
  width: 100%;
  height:60%;
  font-size: .6rem;
  align-content: flex-start;
  display: flex;
  padding-top: 4rem;

}
 
.bottom-panel {
  background-color: rgb(43, 68, 255, .15);
  height: 30vh;
  font-size: 3rem;
  width: 100vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Ubuntu' , sans-serif;
}

.weather {
  color: rgb(80, 80, 80);
  font-size: 2rem;
  padding: 4rem;
}

.time {
  font-size: 4rem;
  padding: 4rem 15rem;
}

.task-list {
  display: flex;
  align-content: center;
}